* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #080808;
}

.banner {
    /* background: url(https://www.nexttvafrica.com/assets/landing/images/lottery/banner.jpg) center center no-repeat; */
    background: url('../Assets/images/banner.jpg') center center no-repeat;
    padding-bottom: 25%;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}
.banner.sm {
    padding-bottom:0;
    height: 100vh;
    padding-top: 270px;
    margin: 0;
}

.banner:after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
}
.logoholder {
    position: absolute;
    left: 90px;
    top: 40px;
    z-index: 1;
}


.logoholder.sm {
    left: 0;
    top: -160px;
}


.container {
    max-width: 85%;
    margin: auto;
    z-index: 9;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.row .col {
    max-width: 18%;
    flex: 0 0 18%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.row .col-5 {
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
}
.row .col-7 {
    max-width: 60%;
    flex: 0 0 60%;
    padding: 0 15px
}

.box .image {
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    padding-bottom: 140%;
    position: relative;
    overflow: hidden;
}

.box  .stretch-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
} 
.box .caption {
    position: absolute;
    left: 0;
    bottom: -100%;
    padding: 25px 20px 15px 20px;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 30%,#fff 100%);
    color:#000;
    width: 100%;
    transition: all .4s ease;
}

.box .caption h4 {
    margin: 30px 0 0 0 ;
    font-size: 18px;
}

.box:hover .caption {
    bottom: 0;
}

#player {
  max-width: 900px;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.75);
}

.movidetail {
    display: grid;
    grid-template-columns: 240px auto;
    grid-gap: 15px;
    color: #fff;
}
.movidetail .image {
    padding-bottom: 140%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.movidetail h3 {
    font-size: 24px;
    color: #fff;
    margin:0px ;
}

.align-cente {
    align-items: center;
}
.desc p{
    margin-left: 20px;
}
